<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/style.css">

    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
    <title>Team 9</title>
  </head>
  <body>
        <div class="d-flex" id="wrapper">
          <!-- Sidebar -->
          <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">Team 9</div>
            <div class="list-group list-group-flush">
                <a href="index.html" class="list-group-item list-group-item-action bg-light">Introduction</a>
                <a href="sentiment.html" class="list-group-item list-group-item-action bg-light">Sentiment Analysis</a>
                <a href="gluttony.html" class="list-group-item list-group-item-action bg-light">Gluttony</a>
                <a href="sloth.html" class="list-group-item list-group-item-action bg-light">Sloth</a>
                <a href="wrath.html" class="list-group-item list-group-item-action bg-light">Wrath</a>
                <a href="profile.html" class="list-group-item list-group-item-action bg-light">Area Profile</a>
            </div>
          </div>
          <!-- /#sidebar-wrapper -->
          <!-- Page Content -->
          <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
              <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <a href="index.html"><button type="button" class="btn btn-primary"> Positive</button></a><br>
                    <a href="negative.html"><button type="button" class="btn btn-primary"> Negative</button></a><br>
                    <a href="neutral.html"><button type="button" class="btn btn-primary"> Neutral</button></a><br>
                </ul>
              </div>
            </nav>
            <div class="container-fluid">
              <!-- <h7 class="mt-4 text-center">Introduction</h7> -->
              <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 400px">
                <script>          
                  function initMap() {
                    var map_options = { 
                      zoom: 4,
                      mapTypeId: 'roadmap'
                    };  
                    var map = new google.maps.Map(document.getElementById("map-container-google-1"),map_options);
                    var kmlUrl = 'https://sites.google.com/site/2019ccckml/home/kml/melbourne_update.kml';
                    var kmlOptions = { map: map};
                    var kmlLayer = new google.maps.KmlLayer(kmlUrl, kmlOptions);
                    kmlLayer.addListener('click', function(event) {
                      console.log('test');
                    });
                    var Data = getData();
                    var heatmap = new google.maps.visualization.HeatmapLayer({
                      data: Data,
                      radius: 5,
                      opacity: 0.6,
                      maxIntensity: 50
                      });
                    var negativeGradient = [
                      'rgba(0, 255, 255, 0)',
                      'rgba(0, 255, 255, 1)',
                      'rgba(0, 191, 255, 1)',
                      'rgba(0, 127, 255, 1)',
                      'rgba(0, 63, 255, 1)',
                      'rgba(0, 0, 255, 1)',
                      'rgba(0, 0, 223, 1)',
                      'rgba(0, 0, 191, 1)',
                      'rgba(0, 0, 159, 1)',
                      'rgba(0, 0, 127, 1)',
                      'rgba(63, 0, 91, 1)',
                      'rgba(127, 0, 63, 1)',
                      'rgba(191, 0, 31, 1)',
                      'rgba(255, 0, 0, 1)'
                    ];
                    heatmap.set('gradient',negativeGradient);
                    heatmap.setMap(map);
                  }
                  function getData() {
                      var rawData = [];
                      $.ajax({
                        timeout : 60000,
                        type:"post",
                        async: false,
                        url:"/neutral",
                        data: { num: 123 },
                        dataType:"json",
                        success: function (data) {
                          rawData = data;
                          console.log(data.length);
                        }
                      });
                      var dataArray = [];
                      for( var i = 0; i < rawData.length; i++) {
                          var coord = new google.maps.LatLng(rawData[i][1], rawData[i][0]);
                          dataArray.push(coord);
                      }
                      return dataArray;
                  }
                </script>
                <script async defer
                  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHctoaB-_S_HicHBL6KFgc7zZyWB6GQX8&libraries=visualization&callback=initMap">
                </script>
            </div>      
            <!--Google Maps-->
          </div>
          <!-- /#page-content-wrapper -->
        </div>
        <!-- /#wrapper -->
        <!-- Bootstrap core JavaScript -->
      </body>
</html>