<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
    <title>Team 9</title>
  </head>
  <body>
      <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
          <div class="sidebar-heading">Team 9</div>
          <div class="list-group list-group-flush">
            <a href="index.html" class="list-group-item list-group-item-action bg-light">Introduction</a>
            <a href="wrath.html" class="list-group-item list-group-item-action bg-light">Wrath</a>
            <a href="envy.html" class="list-group-item list-group-item-action bg-light">Envy</a>
            <a href="sloth.html" class="list-group-item list-group-item-action bg-light">Sloth</a>
            <a href="gluttony.html" class="list-group-item list-group-item-action bg-light">Gluttony</a>
          </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
          <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                  <button type="button" class="btn btn-primary" onclick = "showMap()"> Map</button>
              </ul>
            </div>
          </nav>
          <div class="container-fluid">
            <h1 class="mt-4 text-center">Wrath</h1>
            <canvas id="myChart" width="900" height="450"></canvas>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-primary" onclick = "updateChart()">Melbourne</button>
              <button type="button" class="btn btn-primary"  onclick = "syddata()">Sydney</button>
          </div>
          <script src="./js/wrath.js"></script>
          <script>
            function updateChart(){
              var tweets = []
              $.ajax({
                timeout : 6000,
                type:"post",
                async: false,
                url:"/wrath",
                data: { num: 123 },
                dataType:"json",
                success: function (data) {
                  for(let i = 0; i < data.length; i++)
                  {
                    tweets.push(data[i][2]);
                  }
                  console.log(data.length);
                }
              });
              melbdata(tweets);
            }
          </script>
        </div>
        <!-- /#page-content-wrapper -->
      </div>
      <!-- /#wrapper -->
    </body>
</html>